---
layout: default
title: IronGym - IronGymnasium IronGymnasium Academia, Musculação, Lutas e saúde
menu_home:
menu_gym:
menu_fight:
menu_health: active
menu_contato:
keywords: pilates, Yoga, body pump, power jump, rpm, alongamento, Abd, Gluteos, condicionamento físico
meta_description: A Iron Gymnasium conta com uma estrutura completa para suas aulas da BodySystems, alongamento, Pilates, Yoga e Abd-Glúteos. Veja nossos horários.

body_combat:
- dia: Segunda-feira
  horarios: 18h45
- dia: Sexta-feira
  horarios: 18h45

body_pump:
- dia: Terça-feira
  horarios: 8h e 20h
- dia: Quinta-feira
  horarios: 8h e 20h

power_jump:
- dia: Terça-feira
  horarios: 18h50
- dia: Quinta-feira
  horarios: 18h50

rpm:
- dia: Segunda-feira
  horarios: 8h15, 12h15, 16h15, 19h e 20h
- dia: Terça-feira
  horarios: 7h, 10h30, 19h30 e 20h45
- dia: Quarta-feira
  horarios: 8h15, 12h15, 16h15, 19h e 20h
- dia: Quinta-feira
  horarios: 7h, 10h30, 19h30 e 20h45
- dia: Sexta-feira
  horarios: 8h15, 12h15, 17h15 e 20h
- dia: Sábado
  horarios: 10h

body_jam:
- dia: Quarta-feira
  horarios: 18h45

cxworx:
- dia: Segunda-feira
  horarios: 7h30,18h10 e 19h45
- dia: Quarta-feira
  horarios: 7h30, 18h10 e 19h45
- dia: Sexta-feira
  horarios: 7h30, 18h10

yoga:
- dia: Terça-feira
  horarios: 12h15 e 18h
- dia: Quinta-feira
  horarios: 12h15 e 18h

alongamento:
- dia: Segunda-feira
  horários: 15h
- dia: Terça-feira
  horarios: 9h05
- dia: Quarta-feira
  horarios: 15h
- dia: Quinta-feira
  horarios: 9h05
- dia: Sexta-feira
  horarios: 15h
---

<div id="banner" class="carousel slide">
	<div class="carousel-inner">
    <div class="active item"><img src="static/img/banner/ginastica/testeiraginastica1.jpg" width="880" height="430" alt="Banner 01" /></div>
      <div class="item">     <img src="static/img/banner/ginastica/testeiraginastica2.jpg" width="880" height="430" alt="Banner 01" /></div>
  	  <div class="item">     <img src="static/img/banner/ginastica/testeiraginastica3.jpg" width="880" height="430" alt="Banner 01" /></div>
  	  <div class="item">     <img src="static/img/banner/ginastica/testeiraginastica4.jpg" width="880" height="430" alt="Banner 01" /></div>
  	  <div class="item">     <img src="static/img/banner/ginastica/testeiraginastica5.jpg" width="880" height="430" alt="Banner 01" /></div>
	</div>
</div>


<ul id="tabs">
    <li>
        <a class="current" href="#body-systems" data-show="body-systems">Body Systems</a>
    </li>
    <li>
        <a href="#pilates" data-show="pilates">Pilates</a>
    </li>
    <li>
        <a href="#yoga" data-show="yoga">Yôga</a>
    </li>
    <li>
        <a href="#alongamento" data-show="alongamento">Alongamento</a>
    </li>
    <li>
        <a href="#abd-gluteos" data-show="abd-gluteos">Abd/Gluteos</a>
    </li>
</ul>

<section id="content" class="int">

	<div class="content-int">

        <section id="tabs-cont">

            <div class="pilates">
            	<h2>Pilates</h2>
            	<p>Criado pelo alemão Joseph Pilates, o Pilates é um excelente método para melhorar o condicionamento físico, ganhar mais flexibilidade e alinhar corretamente a postura.</p>
            </div>

            <div class="body-systems">
            	<h3>BODYCOMBAT</h3>
            	<p>É um programa de ginástica baseado nos mais diversos estilos de Artes Marciais como: Karatê, Boxe, Capoeira, Muay Thai, Kung Fu, Kick Boxing, entre outras. Uma aula segura onde todos podem treinar de forma eficiente e motivante. Sua característica democrática torna esta aula uma grande aliada em busca dos melhores resultados. Venha gastar muitas calorias e extravasar todo o seu stress com o BODYCOMBAT™, incorpore o espírito de lutador!</p>

              <h3>Body Pump</h3>
          	  <p>Treinamento de força, resistência, melhora da postura e a desejada definição muscular. Utilizamos anilhas e barras, músicas alucinantes com combinações seguras e eficazes para obtermos os melhores resultados. Ficar em forma nunca foi tão prazeroso antes desta aula. BODYPUMP™ é, provavelmente, a maneira mais rápida do universo de entrar em forma.</p>

              <h3>Power Jump</h3>
        	    <p>O Power Jump é uma aula organizada sobre o minitrampolim (equipamento que desperta curiosidade e vontade de experimentar) que proporciona um trabalho cardiorespiratório de excelente qualidade através de uma combinação simples e excitante de música e movimento. Suas coreografias contemplam isso e estão baseadas na técnica específica que são seguras e motivantes.</p>
              <p>Treino intenso regado a muita diversão!!</p>

              <h3>RPM</h3>
              <p>Bem-vindo à revolução do fitness sobre rodas! O RPM é um treinamento impressionante por melhorar sua capacidade aeróbia e resistência anaeróbia. A música desenha o trajeto no qual seu corpo queima calorias e fortalece seu corpo. Junto com a instrução de seu professor e a motivação de seu grupo, você experimentará subidas lentas, pequenos tiros e giros de recuperação que não representam nenhuma barreira de coordenação ou motivação. Cada treinamento é executado em bicicletas estacionárias que maximizam a experiência indoor.  O RPM traz resultados para você e poderá ser o treino da sua vida… RIDING on POWERFULMUSIC!!.</p>

              <!-- <h3>BODYATTACK</h3>
              <p>Trata-se de um programa de condicionamento físico cardiovascular que combina  movimentos atléticos com movimentos derivados de esportes como vôlei, tênis, basquete, corrida e futebol. Com a metodologia de intervalos, são combinados exercícios aeróbicos de alta e baixa intensidade com trabalhos de força e estabilização para abdome, pernas e braços. Nesse sentido, o programa além de melhorar o condicionamento físico, também ajuda no fortalecimento de articulações como joelhos e quadris, ajudando assim na prevenção de lesões.Seja bem-vindo ao mundo dos esportes BODYATTACK™.</p> -->

              <h3>BODYBALANCE</h3>
              <p>Corpo e mente treinados ao mesmo tempo, em perfeita sintonia.  BODYBALANCE™. O programa que trabalha o condicionamento postural e utiliza técnicas de disciplinas como Yoga, Tai-Chi e Pilates, permitindo que você encontre o seu equilíbrio físico e mental. Desenvolva força , equilíbrio , flexibilidade através do BODYBALANCE™ficando em perfeita harmonia com sua mente.</p>

              <h3>BODYJAM</h3>
              <p>O BODYJAM™ é uma aula mundial. Trazendo influências dos cinco continentes, o BODYJAM™ é uma mistura irresistível de movimentos dançantes embalados por vários estilos como Funk, Groove, Caribenhos, Steet dance, Techno, Hip-Hop, Disco, House e Jazz-Broadway. Uma verdadeira "balada" na sala de aula na qual a diversão é garantida entre amigos!</p>

              <h3>CXWORX</h3>
              <p>Uma aula de 30 minutos que utiliza-se de anilhas, rubbers e o próprio peso corporal trabalhando o CORE extraordinariamente.</p>
            </div>

            <div class="yoga">
            	<h2>Yôga</h2>
            	<p>A Ioga é um exercício ideal para qualquer tipo de pessoa, desde crianças até idosos. Os principais benefícios de sua prática são: força, flexibilidade, tonificação muscular e o fato de seus adeptos aprenderem a respirar melhor.</p>
            </div>


            <div class="alongamento">
            	<h2>Alongamento</h2>
            	<p>Exercícios de alongamento são uteis para melhorar a flexibilidade e qualidade da contração muscular. Devido à vida sedentária, posturas inadequadas, estresse diário e a não realização de alongamentos, o ser humano pode ter estruturas do corpo comprometidas pelo desalinhamento ou sobrecarga que sofrem. Com os músculos tensos ou encurtados, não haverá amplitude normal de movimentos, nem uma boa circulação sangüínea, além de causar desconfortos e até dores. Isso mostra a importância de realizarmos alongamentos com freqüência, entretanto, mais importante do que realizá-los, é fazê-los de maneira correta.</p>
            </div>

            <div class="abd-gluteos">
            	<h2>Abd/Gluteos</h2>
            	<p>Aula composta de exercícios localizados específicos para a região abdominal e dos gluteos, utilizando-se variações de técnicas e de materiais ( fitball, medicine ball, halteres, caneleira, step, bastões, barras, elásticos etc). Tendo um benefício na melhora da postura, força e resistência muscular localizada.</p>
            </div>

        </section> <!-- /tabs-cont -->

        <br />
        <!-- <p><a class="auto-load-fancybox" rel="group" href="static/img/horarios-health.jpeg">Veja a tabela de horários completa.</a><p> -->
        <!-- <p><a rel="group" href="static/img/horarios-health.jpeg">Veja a tabela de horários completa.</a><p> -->

    </div> <!-- /content-int -->

    <div class="y-liner">

        <div class="column scroll full" id="horarios">

        	<h4>Horários</h4>

          <img class="body-systems" src="static/img/logos/body-combat.png" width="147" height="53" alt="Body Combat" />
      		<ul class="body-systems">
            {% for schedule in page.body_combat %}
        			<li>
        				<strong>{{ schedule.dia }}</strong>
        				<p>{{ schedule.horarios }}</p>
        			</li>
            {% endfor %}
      		</ul>

          <img class="body-systems" src="static/img/logos/body-pump.png" width="147" height="53" alt="Body Pump" />
      		<ul class="body-systems">
            {% for schedule in page.body_pump %}
        			<li>
        				<strong>{{ schedule.dia }}</strong>
        				<p>{{ schedule.horarios }}</p>
        			</li>
            {% endfor %}
      		</ul>

          <img class="body-systems" src="static/img/logos/power-jump.png" width="147" height="53" alt="Power Pump" />
      		<ul class="body-systems">
            {% for schedule in page.power_jump %}
        			<li>
        				<strong>{{ schedule.dia }}</strong>
        				<p>{{ schedule.horarios }}</p>
        			</li>
            {% endfor %}
      		</ul>

          <img class="body-systems" src="static/img/logos/rpm.png" width="147" height="53" alt="RPM" />
      		<ul class="body-systems">
            {% for schedule in page.rpm %}
        			<li>
        				<strong>{{ schedule.dia }}</strong>
        				<p>{{ schedule.horarios }}</p>
        			</li>
            {% endfor %}
      		</ul>

          <!-- <img class="body-systems" src="static/img/logos/body-attack.png"  height="53" alt="RPM" />
          <ul class="body-systems">
            {% for schedule in page.body_attack %}
              <li>
                <strong>{{ schedule.dia }}</strong>
                <p>{{ schedule.horarios }}</p>
              </li>
            {% endfor %}
          </ul> -->
          {% if page.body_balance %}
            <img class="body-systems" src="static/img/logos/body-balance.png"  height="53" alt="RPM" />
        		<ul class="body-systems">
              {% for schedule in page.body_balance %}
          			<li>
          				<strong>{{ schedule.dia }}</strong>
          				<p>{{ schedule.horarios }}</p>
          			</li>
              {% endfor %}
        		</ul>
          {% endif %}

          <img class="body-systems" src="static/img/logos/body-jam.png"  height="53" alt="RPM" />
      		<ul class="body-systems">
            {% for schedule in page.body_jam %}
        			<li>
        				<strong>{{ schedule.dia }}</strong>
        				<p>{{ schedule.horarios }}</p>
        			</li>
            {% endfor %}
      		</ul>

          {% if page.cxworx %}
            <h4 class="body-systems hide-h4">CXWORX™</h4>
        		<ul class="body-systems">
              {% for schedule in page.cxworx %}
          			<li>
          				<strong>{{ schedule.dia }}</strong>
          				<p>{{ schedule.horarios }}</p>
          			</li>
              {% endfor %}
        		</ul>
          {% endif %}

      		<ul class="pilates">
            {% for schedule in page.pilates %}
        			<li>
        				<strong>{{ schedule.dia }}</strong>
        				<p>{{ schedule.horarios }}</p>
        			</li>
            {% endfor %}
      		</ul>

      		<ul class="yoga">
            {% for schedule in page.yoga %}
        			<li>
        				<strong>{{ schedule.dia }}</strong>
        				<p>{{ schedule.horarios }}</p>
        			</li>
            {% endfor %}
      		</ul>

      		<ul class="alongamento">
            {% for schedule in page.alongamento %}
        			<li>
        				<strong>{{ schedule.dia }}</strong>
        				<p>{{ schedule.horarios }}</p>
        			</li>
            {% endfor %}
      		</ul>

      		<ul class="abd-gluteos">
            {% for schedule in page.abd-gluteos %}
        			<li>
        				<strong>{{ schedule.dia }}</strong>
        				<p>{{ schedule.horarios }}</p>
        			</li>
            {% endfor %}
      		</ul>

        </div> <!-- /column -->

    </div> <!-- /y-liner -->

</section> <!-- /content -->